<div class="container " ng-app="" ngForm #myForm="ngForm" (ngSubmit)="submit(myForm)" novalidate>
  <div fxLayout="column">
    <div fxLayout="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/contract">{{'new-contract.title' | translate}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{'new-contract.signed.title' | translate}}</li>
        </ol>
      </nav>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start" fxLayout.sm="column" fxLayout.xs="column">
      <div fxFlex="15" fxFlex.md="10">
        <input placeholder="Datum" class="form-control" type="text" onfocus="(this.type='date')" id="Date"
           [ngModel]="signature !== undefined && signature.Date" required name="date">
      </div>

      <div fxFlex="30" fxFlex.md="30">
        <input type="text" class="form-control" placeholder="{{'new-contract.signed.name' | translate}}"
          aria-label="First name"  [ngModel]="signature !== undefined && signature.Firstname" required
          name="firstname">
      </div>
      <div fxFlex="30" fxFlex.md="30">
        <input type="text" class="form-control" placeholder="{{'new-contract.signed.last-name' | translate}}"
          aria-label="Last name"  [ngModel]="signature !== undefined && signature.Lastname" required name="lastname">
      </div>
      <div fxFlex="5" fxFlex.md="20">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" value="true"
            [checked]="signature !== undefined && signature.IsSigned === 'true'"
             [ngModel]="signature !== undefined && signature.IsSigned" required name="isSigned">
          <label class="form-check-label" for="gridCheck">{{'new-contract.signed.signed' | translate}}</label>
        </div>
      </div>
      <div fxFlex="20">
        <button type="button" (click)="submit(myForm)" class="btn">{{'save-button' | translate}}</button>
      </div>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" value="true"
      [checked]="signature !== undefined && signature.IsCompletlySigned === 'true'"
      [ngModel]="signature !== undefined && signature.IsCompletlySigned" required name="isCompletlySigned">
      <label class="form-check-label" for="gridCheck"> {{'new-contract.signed.fully-signed' | translate}}</label>
    </div>

    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
      <div fxFlex="100">
        <table mat-table [dataSource]="signatures" class="mat-elevation-z8">

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Datum</th>
            <td mat-cell *matCellDef="let element"> {{element.Date | date:'yyyy-MM-dd' }} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{'table.name' | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.Firstname}} </td>
          </ng-container>

          <!-- Nachname Column -->
          <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef>{{'table.last-name' | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.Lastname}} </td>
          </ng-container>

          <!-- Unterzeichnet Column -->
          <ng-container matColumnDef="signed">
            <th mat-header-cell *matHeaderCellDef>{{'new-contract.signed.signed' | translate}}</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon>{{ element.IsSigned === 'true' ? 'done' : '' }}</mat-icon>
            </td>
          </ng-container>

          <!-- Edit Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <span>
                <mat-icon type="button" (click)="edit(element.Id)">edit</mat-icon>
                <mat-icon type="button" (click)="deleteById(element.Id)">delete</mat-icon>
              </span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; let even = odd; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
        </table>
      </div>
    </div>
  </div>
</div>


<div fxLayout="column-reverse" class="btn-row">
  <div fxLayout="row" fxLayoutGap="" fxLayoutAlign="end" fxLayoutAlign.sm="end end" fxLayout.sm="column"
    fxLayout.xs="column" fxLayoutGap="10px">
    <div fxFlex="73" fxFlex.md="61" fxFlex.sm="0" fxFlex.xs="0"> </div>
    <div fxFlex="7" fxFlex.md="19" fxFlex.sm="50" fxFlex.xs="24">
      <button type="button" class="btn return-btn"(click)="gotoLastPage()">{{'back-button' | translate}}</button>
    </div>
    <div fxFlex="20" fxFlex.sm="40">
      <button type="button" class="btn"(click)="gotoNextPage()">{{'next-button' | translate}}</button>
    </div>
  </div>
</div>