<form class="container " #myForm="ngForm" (ngSubmit)="submit(myForm)" enctype="multipart/form-data" novalidate>
    <div fxLayout="column">
      <div fxLayout="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/contract">{{'new-contract.title' | translate}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{'new-contract.files.title' | translate}}</li>
          </ol>
        </nav>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="45" fxFlex.md="45" >
          <input type="file" class="form-control" aria-label="file" placeholder="" #fileData
          (change)="onFileSelected($event)" required name="file" [accept]="'.pdf'">
        </div>
        <div fxFlex="30" fxFlex.md="25">
          <input type="text" class="form-control" placeholder="{{'comment' | translate}}" aria-label="comment"
          [value]="file !== undefined && file.Comment"
          [ngModel]="file !== undefined && file.Comment" name="comment">
        </div>
        <div fxFlex="5" fxFlex.md="10">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="finalCheck" value="true"
            [checked]="file !== undefined && file.Final === 'true'"
            [ngModel]="file !== undefined && file.Final" name="final">
            <label class="form-check-label" for="finalCheck">{{'new-contract.files.final' | translate}}</label>
          </div>
        </div>
        <div fxFlex="20">
          <button type="submit" value="submit" class="btn ">{{'save-button' | translate}}</button>
        </div>
      </div>





      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div fxFlex="100">
          <table mat-table [dataSource]="files" class="mat-elevation-z8">
            <!-- Date Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>{{'table.date' | translate}}</th>
              <td mat-cell *matCellDef="let element"> {{element.Date | date:'yyyy-MM-dd' }} </td>
            </ng-container>
            <!-- File Name Column -->
            <ng-container matColumnDef="fileName">
              <th mat-header-cell *matHeaderCellDef>{{'table.file-name' | translate}}</th>
              <td mat-cell *matCellDef="let element"> {{element.FileName}} </td>
            </ng-container>
            <!-- Comment Column -->
            <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef>{{'table.comment' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.Comment}} </td>
              </ng-container>
            <!-- Final Column -->
            <ng-container matColumnDef="final">
              <th mat-header-cell *matHeaderCellDef>{{'new-contract.files.final' | translate}}</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon>{{ element.Final === 'true' ? 'done' : '' }}</mat-icon></td>
            </ng-container>
            <!-- Edit Column -->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <span>
                  <mat-icon>file_download</mat-icon>
                  <mat-icon type="button" (click)="deleteById(element.Id)">delete</mat-icon>
                </span>
              </td>
            </ng-container>

            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; let even = odd; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
          </table>
        </div>
      </div>
    </div>
</form>
  
  
  <div fxLayout="column-reverse" class="btn-row">
    <div fxLayout="row" fxLayoutGap="" fxLayoutAlign="end" fxLayoutAlign.sm="end end" fxLayout.sm="column"
      fxLayout.xs="column" fxLayoutGap="10px">
      <div fxFlex="73" fxFlex.md="61" fxFlex.sm="0" fxFlex.xs="0"> </div>
      <div fxFlex="7" fxFlex.md="19" fxFlex.sm="50" fxFlex.xs="24">
        <button type="button" class="btn return-btn" (click)="gotoLastPage()">{{'back-button' | translate}}</button>
      </div>
      <div fxFlex="20" fxFlex.sm="40">
        <button type="button" class="btn" (click)="gotoNextPage()">{{'complete-button' | translate}}</button>
      </div>
    </div>
  </div>