<div class="main">
  <mat-toolbar class="header" color="primary">
    <mat-toolbar-row>
      <div fxShow="true" fxHide.gt-sm="true" class="px-2">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon class="menu-button">menu</mat-icon>
        </button>
      </div>
      <span fxShow="false" fxHide.gt-sm="false"><img src="/assets/fh_technikum_wien_logo_4c_rgb_800x504px_72dpi_2020.png"></span>
      <span class="example-spacer"></span>
      
      <div>
        <a fxShow="false" fxHide.gt-sm="false" routerLink="/home" mat-button [style.display]="isLoggedIn() ? '' : 'none'">
          <mat-icon>home</mat-icon>
          Home
        </a>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a fxShow="false" fxHide.gt-sm="false" routerLink="/contract" mat-button [style.display]="isLoggedIn() ? '' : 'none'">
          <mat-icon>book</mat-icon>
          {{'menu.contracts' | translate}}
        </a>
        <a fxShow="false" fxHide.gt-sm="false"routerLink="/Vertragspartner" mat-button [style.display]="isLoggedIn() ? '' : 'none'">
          <mat-icon>account_box</mat-icon>
          Vertragspartner
        </a>
        <a fxShow="false" fxHide.gt-sm="false" routerLink="/notifications" mat-button [style.display]="isLoggedIn() ? '' : 'none'">
          <mat-icon>notifications</mat-icon>
          Notifications
        </a>
        <a routerLink="/login" mat-button [style.display]="isLoggedIn() ? '' : 'none'" (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </a>
        <a routerLink="/login" mat-button [style.display]="!isLoggedIn() ? '' : 'none'">
          <mat-icon>login</mat-icon>
          Login
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
  
  <!-- fxFlexFill -->
  <mat-sidenav-container class="side-header" fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list fxLayout="column" fxLayoutAlign="none start"> 
        <a  routerLink="/home" mat-button [style.display]="isLoggedIn() ? '' : 'none'">
          <mat-icon>home</mat-icon>
          Home
        </a>
        <a routerLink="/contract" mat-button [style.display]="isLoggedIn() ? '' : 'none'">
          <mat-icon>book</mat-icon>
          Verträge
        </a>
        <a routerLink="/Vertragspartner" mat-button [style.display]="isLoggedIn() ? '' : 'none'">
          <mat-icon>account_box</mat-icon>
          Vertragspartner
        </a>
        <a routerLink="/notifications" mat-button [style.display]="isLoggedIn() ? '' : 'none'">
          <mat-icon>notifications</mat-icon>
          Notifications
        </a>
        <a routerLink="/login" mat-button [style.display]="!isLoggedIn() ? '' : 'none'">
          <mat-icon>login</mat-icon>
          Login
        </a>
        <!-- <a (click)="sidenav.toggle()" mat-list-item> -->
          <!-- <mat-icon>close</mat-icon> Close -->
        <!-- </a> -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill >
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
 
 
</div>